
<div class="wrapper">
    {{outlet}}
</div>
<footer>
  {{!-- Footer content goes here --}}
  <p>All the data in this application may or may not be accurate. For exact details, please refer to <a href="https://www.eci.gov.in/disclosure-of-electoral-bonds">this link</a>.</p>
</footer>
