<div class="index-page">
    <img src="favicon.png" alt="" width="120px" height="120px" style="margin-botton:20px; border-radius: 16px;">
    <h1>Electoral Bond List</h1>
    <div>
        <button type="button" class="btn btn-outline-primary" {{action "redirectToPartyData" }}>Party-wise Data</button>
        <button type="button" class="btn btn-outline-primary" {{action "redirectToCompanyData" }}>Company-wise
            Data</button>
    </div>
    <amp-ad 
        width="100vw" 
        height="320" 
        type="adsense" 
        data-ad-client="ca-pub-9054064478331737" 
        data-ad-slot="1384431876"
        data-auto-format="rspv" 
        data-full-width="">
        <div overflow=""></div>
    </amp-ad>
</div>

{{outlet}}